<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

</html>

<div th:fragment="navbar" th:remove="tag">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Contacts</a>
                <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/add">Add</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>