<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header-section(title='Editar')}">
</head>
<body>

<div th:replace="~{fragments/nav :: navbar}"></div>

<div class="container">
    <div class="container text-center" style="margin: 30px">
        <h3>Edit Contact</h3>
    </div>
</div>

<div class="container">

    <form action="/edit" method="post" th:object="${contact}">
        <input th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name"
                   name="name" required="required" th:field="*{name}"
                   type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control" id="phone"
                   name="phone" th:field="*{phone}"
                   type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email"
                   name="email" required="required" th:field="*{email}"
                   type="email">
        </div>
        <div class="text-center">

            <button class="btn btn-warning btn-small me-3" type="submit">Edit</button>
            <a class="btn btn-danger btn-small" href="/">Back</a>
        </div>
    </form>

</div>


<div th:replace="~{fragments/footer::footer-section}"></div>

</body>
</html>